In [2]:
import pandas as pd

In [2]:
p = pd.read_csv('../outputs/prediccion_autogluon_2ventanas.csv', sep=',')
p

     product_id           tn
0         20001  1302.821147
1         20002  1087.357424
2         20003   682.975566
3         20004   522.412123
4         20005   529.132087
..          ...          ...
775       20962     2.844398
776       20975     2.550540
777       20995     2.374717
778       21087     0.848318
779       21214     0.305271

[780 rows x 2 columns]

In [8]:
nombre_archivo = '../outputs/prediccion_autogluon_2ventanas_'

##### Ratios aplicados al mejor output

In [7]:
RATIOS = [0.97, 0.98, 0.99, 1.01, 1.02, 1.03, 1.04, 1.05]

for ratio in RATIOS:
    p = pd.read_csv('../outputs/prediccion_autogluon_2ventanas.csv', sep=',')
    p['tn'] = p['tn'] * ratio
    p.to_csv(nombre_archivo + str(ratio) + '.csv', index=False, sep=',')

##### Mejor output multiplicado por N(1,0.1)

In [9]:
import numpy as np
p = pd.read_csv('../outputs/prediccion_autogluon_2ventanas.csv', sep=',')

# Generar números aleatorios con distribución normal: media=1, desviación=1% (0.01)
np.random.seed(12345)  # Opcional: para reproducibilidad
random_numbers = np.random.normal(loc=1, scale=0.01, size=len(p))


# Multiplicar cada valor de 'tn' por su número aleatorio correspondiente
p['tn'] = p['tn'] * random_numbers
p.to_csv(nombre_archivo + "dist_normal" + '.csv', index=False, sep=',')