# Experimento 5 

Hiperparmetro: num_val_windows = 3

In [1]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [2]:
df = pd.read_csv('../../data/preprocessed/base.csv', sep=',')
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,stock_final
0,201701,10234,20524,0,2,0.05300,0.05300,HC,VAJILLA,Cristalino,Importado,500.0,NaN
1,201701,10032,20524,0,1,0.13628,0.13628,HC,VAJILLA,Cristalino,Importado,500.0,NaN
2,201701,10217,20524,0,1,0.03028,0.03028,HC,VAJILLA,Cristalino,Importado,500.0,NaN
3,201701,10125,20524,0,1,0.02271,0.02271,HC,VAJILLA,Cristalino,Importado,500.0,NaN
4,201701,10012,20524,0,11,1.54452,1.54452,HC,VAJILLA,Cristalino,Importado,500.0,NaN

In [3]:
dfg = df.groupby(['periodo', 'product_id']).agg({'tn': 'sum'}).reset_index()
dfg.head()

   periodo  product_id          tn
0   201701       20001   934.77222
1   201701       20002   550.15707
2   201701       20003  1063.45835
3   201701       20004   555.91614
4   201701       20005   494.27011

In [4]:
dfg['periodo_dt'] = pd.to_datetime(dfg['periodo'].astype(str), format='%Y%m')
dfg.rename(columns={'tn': 'target', 'product_id':'item_id', 'periodo_dt': 'timestamp'}, inplace=True)
dfg.drop(columns=['periodo'], inplace=True)

In [5]:
productos_ok = pd.read_csv('../../data/raw/product_id_apredecir201912.csv', sep=',')
productos_ok.head()

   product_id
0       20001
1       20002
2       20003
3       20004
4       20005

In [6]:
dfg = dfg[dfg['item_id'].isin(productos_ok['product_id'].unique())]

In [7]:
data = TimeSeriesDataFrame(dfg)
data

                        target
item_id timestamp
20001   2017-01-01   934.77222
20002   2017-01-01   550.15707
20003   2017-01-01  1063.45835
20004   2017-01-01   555.91614
20005   2017-01-01   494.27011
...                        ...
21263   2019-12-01     0.01270
21265   2019-12-01     0.05007
21266   2019-12-01     0.05121
21267   2019-12-01     0.01569
21276   2019-12-01     0.00892

[22349 rows x 1 columns]

In [8]:
predictor = TimeSeriesPredictor(target='target', prediction_length=2, freq="M").fit(data, num_val_windows = 3)
predictions = predictor.predict(data)

c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\autogluon\timeseries\predictor.py:197: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  std_freq = pd.tseries.frequencies.to_offset(self.freq).freqstr
Frequency 'M' stored as 'ME'
Beginning AutoGluon training...
AutoGluon will save models to 'c:\Users\Usuario\Documents\Universidad\austral\2025\Lab3\Lab3-MCD\notebooks\model_autogluon\AutogluonModels\ag-20250605_145132'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.4
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          4
GPU Count:          0
Memory Avail:       5.61 GB / 15.89 GB (35.3%)
Disk Space Avail:   415.98 GB / 893.49 GB (46.6%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'ME',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 3,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'ME'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 120 short time series from train_data. Only series with length >= 11 will be used for training.
	After filtering, train_data has 21496 rows (NaN fraction=0.1%), 660 time series. Median time series length is 36 (min=11, max=36).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-06-05 11:51:38
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'ChronosFineTuned[bolt_small]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE']
Training timeseries model SeasonalNaive.
	-0.2549       = Validation score (-WQL)
	5.25    s     = Training runtime
	0.80    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-0.2290       = Validation score (-WQL)
	4.29    s     = Training runtime
	0.15    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
	-0.2342       = Validation score (-WQL)
	31.02   s     = Training runtime
	0.20    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-0.3084       = Validation score (-WQL)
	2.48    s     = Training runtime
	1.36    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	-0.2125       = Validation score (-WQL)
	40.54   s     = Training runtime
	1.91    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS\W0 failed for 4 time series (0.6%). Fallback model SeasonalNaive was used for these time series.
	-0.2119       = Validation score (-WQL)
	23.36   s     = Training runtime
	13.57   s     = Validation (prediction) runtime
Training timeseries model ChronosZeroShot[bolt_base].
	-0.2076       = Validation score (-WQL)
	18.86   s     = Training runtime
	6.97    s     = Validation (prediction) runtime
Training timeseries model ChronosFineTuned[bolt_small].
	Skipping covariate_regressor since the dataset contains no covariates or static features.
	Fine-tuning on the CPU detected. We recommend using a GPU for faster fine-tuning of Chronos.
	Warning: Exception caused ChronosFineTuned[bolt_small] to fail during training... Skipping this model.
	TrainingArguments.__init__() got an unexpected keyword argument 'evaluation_strategy'
Training timeseries model TemporalFusionTransformer.
	-0.1915       = Validation score (-WQL)
	862.49  s     = Training runtime
	0.58    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-0.1919       = Validation score (-WQL)
	329.41  s     = Training runtime
	0.90    s     = Validation (prediction) runtime
Training timeseries model PatchTST.
	-0.1859       = Validation score (-WQL)
	192.51  s     = Training runtime
	0.36    s     = Validation (prediction) runtime
Training timeseries model TiDE.
	-0.1932       = Validation score (-WQL)
	770.00  s     = Training runtime
	0.85    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoETS': 0.17, 'NPTS': 0.03, 'PatchTST': 0.37, 'SeasonalNaive': 0.03, 'TemporalFusionTransformer': 0.01, 'TiDE': 0.39}
	-0.1784       = Validation score (-WQL)
	4.32    s     = Training runtime
	17.52   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE', 'WeightedEnsemble']
Total runtime: 2315.72 s
Best model: WeightedEnsemble
Best model score: -0.1784
data with frequency 'None' has been resampled to frequency 'ME'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble
	Warning: AutoETS\W2 failed for 46 time series (5.9%). Fallback model SeasonalNaive was used for these time series.

In [9]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1189.945568
3       20002   987.819021
5       20003   605.067834
7       20004   466.975746
9       20005   479.402112

In [10]:
predictions_v1.shape

(780, 2)

In [11]:
predictions_v1.to_csv("../../outputs/prediccion_autogluon_3ventanas.csv", sep = ",", index = False)